@page
@model HighSchoolApplication.Pages.Teacher.IndexModel
@{
    ViewData["Title"] = "Teacher";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Edit">Add a New Teacher</a>
</div>

<table class=" table table-stripped table-hover" cellpadding="4"
    <tr>
        <th  scope="col">
            Teacher Id
        </th>
        <th scope="col">
            First Name
        </th>
        <th scope="col">
            Last Name
        </th>
        <th scope="col">
            Edit
        </th>
        <th scope="col">
            Delete
        </th>
    </tr>
    @foreach (HighSchoolClasses.DAL.Teacher teacher in Model.Teachers)
    {
        <tr>
            <td>
                @teacher.TeacherId
            </td>
            <td>
                @teacher.FirstName
            </td>
            <td>
                @teacher.LastName
            </td>
            <td>
                    <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@teacher.TeacherId">Edit Teacher</a>
            </td>
            <td>
                    <a class="btn btn-outline-danger "asp-page="./Delete" asp-route-id="@teacher.TeacherId">Delete Teacher</a>
            </td>
        </tr>
    }
</table>


