@page
@model HighSchoolApplication.Pages.Student.IndexModel
@{
    ViewData["Title"] = "Student";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Edit">Add a New Student</a>
</div>

<table class=" table table-stripped" cellpadding="4">
    <tr>
        <th scope="col">
            Student Id
        </th>
        <th scope="col">
            First Name
        </th>
        <th scope="col">
            Last Name
        </th>
        <th scope="col">
            Edit
        </th>
        <th scope="col">
            Delete
        </th>
    </tr>
    @foreach (HighSchoolClasses.DAL.Student student in Model.Students)
    {
        <tr>
            <td>
                @student.StudentId
            </td>
            <td>
                @student.FirstName
            </td>
            <td>
                @student.LastName
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@student.StudentId">Edit Student</a>
            </td>
            <td>
                <a class="btn btn-outline-danger " asp-page="./Delete" asp-route-id="@student.StudentId">Delete Student</a>
            </td>
        </tr>
    }
</table>






@*@if (Model.IsSuccess)
{
    <p>
        Thank you for your submission.
    </p>
}
else
{
        <form method="post">
            <div class="row">
                <div class="col">
                    <label asp-for="FirstName">First Name: </label><br />
                    <input class="form-control" type="text" placeholder="Enter First Name" asp-for="FirstName" /><br />
                </div>
                <div class="col">
                    <label asp-for="LastName">Last Name: </label><br />
                    <input class="form-control" type="text" placeholder="Enter Last Name" asp-for="LastName" /><br />
                </div>
            </div>
                <button>Submit</button>
        </form>
}
*@

