@page
@model HighSchoolApplication.Pages.Exam.IndexModel
@{
    ViewData["Title"] = "Exam";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>

<table cellpadding="5">
    <tr>
        <th>
            Exam Id
        </th>
        <th>
            Student Id
        </th>
        <th>
            Grade
        </th>
       <th>
            Letter Grade
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (HighSchoolClasses.DAL.Exam exam in Model.Exams)
    {
        <tr>
            <td>
                @exam.ExamId
            </td>
            <td>
                @exam.StudentId
            </td>
            <td>
                @exam.Score.ToString()
                @exam.Score.ToString("N")
            </td>
            <td>
                (@exam.Score + 100)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@exam.ExamId">Edit</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@exam.ExamId">Delete</a>
            </td>
        </tr>
    }
</table>

<div>

    <a asp-page="./Edit">Add a New Invoice</a>

</div>
