@page
@model HighSchoolApplication.Pages.Exam.IndexModel
@{
    ViewData["Title"] = "Exam";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>

<div>

    <a class="btn btn-primary" asp-page="./Edit">Add a New Exam</a>

</div>

<table class="table table-stripped" cellpadding="4">
    <tr>
        <th scope="col">
            Exam Id
        </th>
        <th scope="col">
            Student First Name
        </th>
        <th scope="col">
            Student Last Name
        </th>
        <th scope="col">
            Grade
        </th>
        <th scope="col">
            Edit
        </th>
        <th scope="col">
            Delete
        </th>
    </tr>

    @foreach (HighSchoolClasses.DAL.Exam exam in Model.Exams)
    {
        <tr>
            <td>
                @exam.ExamId
            </td>
            <td>
                @exam.FirstName

            </td>
            <td>
                @exam.LastName

            </td>
            <td>
                @exam.Score.ToString()
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@exam.ExamId">Edit Exam</a>
            </td>
            <td>
                <a class="btn btn-outline-danger " asp-page="./Delete" asp-route-id="@exam.ExamId">Delete Exam</a>
            </td>
        </tr>
    }
</table>


