@page
@model HighSchoolApplication.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>
<div class="jumbotron">
    
        <table class="table table-bordered table-hover" cellpadding="4">
    <tr>
        <th scope="col">
            Student First Name
        </th>
        <th scope="col">
            Student Last Name
        </th>
        <th scope="col">
            Grade
        </th>
        <th action="col">
            Letter Grade
        </th>
    </tr>

    @foreach (HighSchoolClasses.DAL.Report report in Model.Reports)
    {
        <tr>
            <td>
                @report.FirstName

            </td>
            <td>
                @report.LastName

            </td>
            <td>
                @report.Score.ToString()
            </td>
            <td>
                @report.Grade
            </td>

        </tr>
    }
</table>
    
</div>


